---
Checks: >-
  *,
  -altera-id-dependent-backward-branch,
  -altera-unroll-loops,
  -bugprone-easily-swappable-parameters,
  -cert-err33-c,
  -clang-diagnostic-macro-redefined,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-vararg,
  -fuchsia-default-arguments-calls,
  -fuchsia-statically-constructed-objects,
  -hicpp-*,
  -llvm-header-guard,
  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-restrict-system-libc-headers,
  -modernize-raw-string-literal,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
